# IDE
BlockGame.opensdf
BlockGame.sdf
BlockGame.sln
BlockGame.v12.suo
BlockGame.vcxproj
BlockGame.vcxproj.filters
BlockGame.vcxproj.user

# Dependencies
lib
glew32.dll

# Build
Debug
Release
OGLdpf.log
