# IDE
block-game.opensdf
block-game.sdf
block-game.sln
block-game.v12.suo
block-game.vcxproj
block-game.vcxproj.filters
block-game.vcxproj.user

# Dependency
lib
glew32.dll

# Build
Debug
Release
OGLdpf.log
